@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Press+Start+2P&display=swap');


body{
    background: linear-gradient(to left, #025939, #025939, #012340);
}

header{
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 5px 5px rgba(48, 48, 48, 0.815);
    box-shadow: 5px 5px 5px 5px rgba(48, 48, 48, 0.377);
}
main{
    text-align: center;
    width: 40vw;
    height: 30vh;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, 0.521);
}

main:hover{
    background: linear-gradient(to bottom, #025939, #025939, #012340);
    box-shadow: 5px 5px 5px 5px rgba(36, 36, 36, 0.596);
    color: white;
}

p{
    padding-top: 20px;
}
#resultado:hover{
    color: white;
}
#inicio{
    border-radius: 8px;
    width: 5vw;
    box-shadow: 2px 2px 2px 2px rgba(145, 145, 145, 0.205);
}
#fim{
    border-radius: 8px;
    width: 6vw;
    box-shadow: 2px 2px 2px 2px rgba(145, 145, 145, 0.205);
}
#passo{
    border-radius: 8px;
    width: 5vw;
    box-shadow: 2px 2px 2px 2px rgba(145, 145, 145, 0.205);
}
footer{
    color: white;
    text-align: center;
}
a{
    color: white;
}
#botao{
    margin-top: 20px;
    background: linear-gradient(to left, #025939, #025939, #012340);
    box-shadow: 1px 1px 1px 1px rgba(36, 36, 36, 0.596);
    color: white;
}